# Clean the xml
## What does "clean" mean?
* remove repetitions
* add a column retweet called `rt?`
* add column number of @ called `#@`
* remove urls
* add column called `original` if there is no other tweet like it

# Run this only once

In [ ]:
!pip install pandas
!pip instal numpy

# Importing libraries

In [51]:
import pandas as pd
import numpy as np
import re

# Read the csv

In [52]:
dtype = {
    'Date': np.str, 
    'Screen Name': np.str, 
    'Full Name': np.str,
    'Tweet Text': np.str,
    'Tweet ID': np.int,
    'App': np.str,
    'Verfied': np.str,
    'User Since': np.str,
    'Location': np.str,
    'Bio': np.str,
    'Profile Image': np.str,
    'Google Maps': np.str,
    }
df = pd.read_csv('./undepured/first_round.csv', sep=';', encoding='latin-1', dtype=dtype)
df.drop('Profile Image', axis=1, inplace=True)
df.head()

,Date,Screen Name,Full Name,Tweet Text,Tweet ID,App,Followers,Follows,Retweets,Favorites,Verfied,User Since,Location,Bio,Google Maps
0,4.30.2017 20:23:21,@juanrra1150,Juan Morales,RT @JoseFdoSanin: En donde est la calumnia do...,858854321110355969,Twitter for Android,2430,2043,133,0,No,28.08.13,NaN,Que el derecho y la justicia nos den la libert...,NaN
1,4.30.2017 20:23:30,@8Luzcla,LUZ ROJAS,RT @ClaudiaLopez: Maana estaremos desde 10am ...,858854358854889473,Twitter for iPhone,12,20,16,0,No,22.02.15,NaN,NaN,NaN
2,4.30.2017 20:23:38,@8Luzcla,LUZ ROJAS,RT @PoliFelicidad: Pasando de la indignacin a...,858854392069595136,Twitter for iPhone,12,20,16,0,No,22.02.15,NaN,NaN,NaN
3,4.30.2017 20:23:40,@Victora35831895,Victor alfonso corte,@abimeljoaquin @ConchitaC777 @MariaFdaCabal Gr...,858854400999272448,Twitter Lite,30,111,0,0,No,17.02.16,Bogota,Abogado Especialista derecho administrativo,NaN
4,4.30.2017 20:24:11,@mariogalvang,Mario Enrique Galvan,@ClaudiaLopez defina la palabra POLêTICA,858854528799698944,Twitter for Android,22,84,0,0,No,10.06.10,NaN,NaN,NaN

## Checking it everything is allright

In [53]:
df['Tweet ID'].count()

65186

In [54]:
df[df['Tweet ID'].isnull()]

Empty DataFrame
Columns: [Date, Screen Name, Full Name, Tweet Text, Tweet ID, App, Followers, Follows, Retweets, Favorites, Verfied, User Since, Location, Bio, Google Maps]
Index: []

In [55]:
df[df['Tweet Text'].isnull()]

Empty DataFrame
Columns: [Date, Screen Name, Full Name, Tweet Text, Tweet ID, App, Followers, Follows, Retweets, Favorites, Verfied, User Since, Location, Bio, Google Maps]
Index: []

## Removing all whitespaces (`\w`) and `\r` for a single space

In [130]:
df.replace('(\n|\r)+', ' ', regex=True, inplace=True)

## Removing urls

In [131]:
df['tweet-no-urls'] = df['Tweet Text'].apply(lambda text: re.sub(r'(https)(([^(\"|,)|\s|$])*)(?=(?:\"|\,|\s|$))', '', text.lower()))

In [132]:
df.head()

,Date,Screen Name,Full Name,Tweet Text,Tweet ID,App,Followers,Follows,Retweets,Favorites,Verfied,User Since,Location,Bio,Google Maps,tweet-no-urls,rt?,#@,original
0,4.30.2017 20:23:21,@juanrra1150,Juan Morales,RT @JoseFdoSanin: En donde est la calumnia do...,858854321110355969,Twitter for Android,2430,2043,133,0,No,28.08.13,NaN,Que el derecho y la justicia nos den la libert...,NaN,rt @josefdosanin: en donde est la calumnia do...,False,3,True
1,4.30.2017 20:23:30,@8Luzcla,LUZ ROJAS,RT @ClaudiaLopez: Maana estaremos desde 10am ...,858854358854889473,Twitter for iPhone,12,20,16,0,No,22.02.15,NaN,NaN,NaN,rt @claudialopez: maana estaremos desde 10am ...,False,2,True
2,4.30.2017 20:23:38,@8Luzcla,LUZ ROJAS,RT @PoliFelicidad: Pasando de la indignacin a...,858854392069595136,Twitter for iPhone,12,20,16,0,No,22.02.15,NaN,NaN,NaN,rt @polifelicidad: pasando de la indignacin a...,False,3,True
3,4.30.2017 20:23:40,@Victora35831895,Victor alfonso corte,@abimeljoaquin @ConchitaC777 @MariaFdaCabal Gr...,858854400999272448,Twitter Lite,30,111,0,0,No,17.02.16,Bogota,Abogado Especialista derecho administrativo,NaN,@abimeljoaquin @conchitac777 @mariafdacabal gr...,False,3,True
4,4.30.2017 20:24:11,@mariogalvang,Mario Enrique Galvan,@ClaudiaLopez defina la palabra POLêTICA,858854528799698944,Twitter for Android,22,84,0,0,No,10.06.10,NaN,NaN,NaN,@claudialopez defina la palabra polêtica,False,1,True

In [133]:
df[df['tweet-no-urls'].isnull()]

Empty DataFrame
Columns: [Date, Screen Name, Full Name, Tweet Text, Tweet ID, App, Followers, Follows, Retweets, Favorites, Verfied, User Since, Location, Bio, Google Maps, tweet-no-urls, rt?, #@, original]
Index: []

## Undertanding duplicates

In [134]:
# Find a way to show duplicates
df[df.duplicated(subset=['Tweet ID']) == True].sort_values('Tweet ID').loc[:,['Tweet ID','tweet-no-urls']].describe()

       Tweet ID
count       0.0
mean        NaN
std         NaN
min         NaN
25%         NaN
50%         NaN
75%         NaN
max         NaN

## Removing duplicates

In [135]:
df.drop_duplicates(subset=['Tweet ID'], inplace=True)

## Creating rt? column

In [136]:
df.loc[:,'rt?'] = df.loc[:,'tweet-no-urls'].str.contains('^\w*rt\w+', regex=True)

In [137]:
df.loc[:,'rt?'].sum()

172

In [138]:
df.loc[:,'tweet-no-urls'].describe()

count                                                 53213
unique                                                45253
top       para #premiosmtvmiaw #mtvcrushreyes #mtvexpopr...
freq                                                     50
Name: tweet-no-urls, dtype: object

## Creating number of @ column

In [139]:
df.loc[:,'#@'] = df.loc[:,'tweet-no-urls'].str.count('@')

In [140]:
df.loc[:,'#@'].describe()

count    53213.000000
mean         0.883543
std          1.046478
min          0.000000
25%          0.000000
50%          1.000000
75%          1.000000
max         13.000000
Name: #@, dtype: float64

## Creating column `original`
`True` if there is no other tweet like it

In [141]:
df.loc[:,'original'] = -df.loc[:,'tweet-no-urls'].str.replace(r'^\w*rt\w+', '').duplicated()

## Cheacking everything

In [142]:
df[df['tweet-no-urls'].isnull()]

Empty DataFrame
Columns: [Date, Screen Name, Full Name, Tweet Text, Tweet ID, App, Followers, Follows, Retweets, Favorites, Verfied, User Since, Location, Bio, Google Maps, tweet-no-urls, rt?, #@, original]
Index: []

In [143]:
df[df['Screen Name'].isnull()]

Empty DataFrame
Columns: [Date, Screen Name, Full Name, Tweet Text, Tweet ID, App, Followers, Follows, Retweets, Favorites, Verfied, User Since, Location, Bio, Google Maps, tweet-no-urls, rt?, #@, original]
Index: []

In [144]:
df[df['Date'].isnull()]

Empty DataFrame
Columns: [Date, Screen Name, Full Name, Tweet Text, Tweet ID, App, Followers, Follows, Retweets, Favorites, Verfied, User Since, Location, Bio, Google Maps, tweet-no-urls, rt?, #@, original]
Index: []

In [145]:
df[df['Tweet ID'] == False]

Empty DataFrame
Columns: [Date, Screen Name, Full Name, Tweet Text, Tweet ID, App, Followers, Follows, Retweets, Favorites, Verfied, User Since, Location, Bio, Google Maps, tweet-no-urls, rt?, #@, original]
Index: []

In [146]:
listOfIndex = set()
for column in df.columns.values:
    if df[column].dtype == 'O':
        listOfIndex.update(df[column].str.contains(r'\n', regex=True).values)
    
print(listOfIndex)

{False, nan}

In [147]:
df[df['Tweet ID'] == 858875925517225985]

,Date,Screen Name,Full Name,Tweet Text,Tweet ID,App,Followers,Follows,Retweets,Favorites,Verfied,User Since,Location,Bio,Google Maps,tweet-no-urls,rt?,#@,original
13142,4.30.2017 21:49:12,@QuesoRicotta,genesis,RT @SaintJeanpi: Mera y como te va en la vida....,858875925517225985,Twitter Web Client,336,206,217,0,No,17.08.13,Guaynabicha,As long as everything is exactly the way I wan...,NaN,rt @saintjeanpi: mera y como te va en la vida....,False,1,True

# Exporting file

In [148]:
df.to_csv('./first_round_depured.csv', sep=';', encoding='latin-1', index=False)