# Run only once

In [92]:
import pandas as pd
import nltk
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.ensemble import RandomForestClassifier

# Necessary Functions

In [183]:
def leave_only_letters(series):
    #changing emojis
    #TODO
    
    #Removing puntuation
    series = series.str.lower().str.replace(r'[^a-zA-Z ]+','') \
        .str.replace(r' {2,}',' ')
        
    #Removing digits
    series = series.str.replace(r'\dx','')
    
    #Removing accents
    series = series.str.replace(r'á|à','a') \
        .str.replace(r'é|è','e') \
        .str.replace(r'í|ì','i') \
        .str.replace(r'ó|ò','o') \
        .str.replace(r'ú|ù','u')
        
    return series

# Loading files

In [184]:
df = pd.read_csv('tweets.csv', encoding='latin-1', sep=';', usecols=['Tweet ID', 'tweet text', 'Positive for CL? 1=Yes, 0=No'], index_col=0)
df = df.rename(columns={'Positive for CL? 1=Yes, 0=No': 'category', 'tweet text': 'tweet'})

In [185]:
df['tweet'] = leave_only_letters(df['tweet'])

In [186]:
df['tweet']

Tweet ID
868212518879211000    jorgepatarroyo claudialopez aquel que lucha co...
869654185729556000    rt perrofantasmabo wradiocolombia claudialopez...
868675105613860000    camilabaron galloalex chaveztrump vickydavilah...
869654122408136000    wradiocolombia claudialopez las confiscadas af...
867892970594467000    andresdiaz laluciernaga dianacalderonf hora cl...
867580682960351000    rt claudialopez cinismo uribista volver perseg...
869952317088518000    josephralph claudialopez las uribestialidades ...
867859946389602000    juankortiz johnherd caracolradio claudialopez ...
870145530600583000    thrino castroedwinc jeisonlubo emaumor claudia...
869986124059598000    rt alexa claudialopez se las da de pulcra de h...
870331912727937000    crodzmart ricardog mateogqsg claudialopez el e...
870722234586943000    tatiannarive ginachef leer que claudialopez y ...
867942017908846000    claudialopez cuando leo estos comentarios no s...
867770966620995000    claudialopez disculpen pero poltico es poltico...
869410304467365000    rt ce juanrealdc claudialopez que buena candid...
870861564555010000    claudialopez senadora con cario y admiracin le...
870827252262588000      ernestocortes claudialopez falta uno y escuchar
868130850201894000    vickydavilah claudialopez cuanto te estan paga...
867934495273615000    marcha docentes claudialopez laluciernaga petr...
870452133774196000    dejealguito queesperanza junasu navarrowolff p...
870734533511045000    daniduqueg claudialopez no creo que una person...
867562939473178000    claudialopez q manera burda d subestimar a col...
870617836531658000    ophcourse patton easytaxicol claudialopez ange...
870499669507309000    jerobledo claudialopez sergiofajardo navarrowo...
867938894553030000    claudialopez ja ja ja la corrupta anticorrupci...
870242105972727000    claudialopez dra con los buenos dias yo espero...
868275089661407000    claudialopez en usted veo la verdad utopica de...
870331618287919000              srcristianr claudialopez no s lo merece
870483418450198000    pierrehemingway claudialopez enriquepenalosa i...
867895595465416000    claudialopez sos mi presidenta a punta de encu...
                                            ...
871018309382221000    andresfrnandez williamfarfanmo claudialopez en...
867898396312469000    claudialopez populista aprovechndose del dolor...
867576052410970000    claudialopez oportunista faltan tres debates d...
867947213799833000    arminurrego oficialhassam petrogustavo claralo...
869728872023064000    arianaaladin claudialopez seorita debes leer y...
871395409297629000        oye claudialopez todava guardas esa camiseta
867773548106051000    claudialopez la senadora claudia es una mujer ...
869773025515888000    rt felipecubilloss arianaaladin claudialopez u...
869357556212391000    rt fvalenciadovale fabioplaza claudialopez sob...
871063387572244000    huitzi claudialopez usted lo ha dicho en qu pa...
868261357203992000    rt claudialopez gracias mi corazn abrazo a tod...
869525987255504000    rt claudialopez deprimir el consumo sacndo bil...
868169797032390000    claudialopez partidoverdecol la unica forma de...
867809493643661000    soalja claudialopez el q pongan no va servir d...
869163785898086000    cmilanoticia el gran hombresamperista q nos va...
867841313194037000    claudialopez juanka cmo estar de al revs las c...
869199170552422000    rt claudialopez encuestas con resultados disti...
871751832221212000    claudialopez gurozu todo lo que se dice y hace...
870735436360101000    sacrificarn claudialopez gajaramillo navarrowo...
867731609272934000    claudialopez enriquepenalosa se quiere comer l...
869954867502120000    claudialopez tras votos bandose de parranda re...
868958887323553000    rt claudialopez avanzamos con compromisarios p...
868104161375772000    claudialopez est como german vargas ignor la p...
871098128904192000    coldesdeafuera jerobledo claudialopez sergiofa...
868070317763297000    rt judithsants claudialopez gracias al cedemoc...
867782343670599000    sebastianrg juanri jeandradec gabrielsepm clau...
870303189702242000    claudialopez hablan mucho pero ejecutan poco n...
871162838097776000    claudialopez si ve que en el arca hay parejas ...
867796388431753000    claudialopez para ustedes es imparable pero la...
868459101243703000    petrochelydavid tatatheicon claudialopez gente...
Name: tweet, Length: 6250, dtype: object

In [187]:
df.describe()

          category
count  6250.000000
mean      0.301760
std       0.459058
min       0.000000
25%       0.000000
50%       0.000000
75%       1.000000
max       1.000000

## Spliting set

X_train, X_test, y_train, y_test = train_test_split(df['tweet'], df['category'])

## Feature vector

### Method 1 (no feature extraction method)

In [188]:
vect = CountVectorizer(
    strip_accents='unicode', 
    analyzer='word', 
    ngram_range=(1,3),
    stop_words=nltk.corpus.stopwords.words('spanish'),
    lowercase=True,
    min_df=0.001
).fit(X_train)
len(vect.get_feature_names())

2117

In [189]:
vect.get_feature_names()[:10]

['000',
 '085aaa7125124f3',
 '085aaa7125124f3 claudialopez',
 '085aaa7125124f3 claudialopez ficogutierrez',
 '085aaa7125124f3 mafezinha86',
 '085aaa7125124f3 mafezinha86 claudialopez',
 '10',
 '100',
 '12',
 '13']

### Method 2 (tf-idf)

In [190]:
vect = TfidfVectorizer(
    strip_accents='unicode', 
    analyzer='word', 
    ngram_range=(1,3),
    stop_words=nltk.corpus.stopwords.words('spanish'),
    lowercase=True,
    min_df=0.001,
).fit(X_train)

len(vect.get_feature_names())

2117

In [191]:
vect.get_feature_names()[:10]

['000',
 '085aaa7125124f3',
 '085aaa7125124f3 claudialopez',
 '085aaa7125124f3 claudialopez ficogutierrez',
 '085aaa7125124f3 mafezinha86',
 '085aaa7125124f3 mafezinha86 claudialopez',
 '10',
 '100',
 '12',
 '13']

## Creating the vector traning examples (Op 1)

In [192]:
X_train_vector = vect.transform(X_train)
X_test_vector = vect.transform(X_test)

In [193]:
X_train_vector

<4687x2117 sparse matrix of type '<class 'numpy.float64'>'
	with 37795 stored elements in Compressed Sparse Row format>

# Random Forest

In [194]:
rf_csf = RandomForestClassifier().fit(X_train_vector, y_train)

In [195]:
print("Score in training set: %f" % rf_csf.score(X_train_vector, y_train))
print("Score in test set: %f" % rf_csf.score(X_test_vector, y_test))

Score in training set: 0.968423
Score in test set: 0.747281